.offers {
    width: 65%;
    height: 60vh;
    display: flex;
    margin: auto;
    padding: 0 140px;
    margin-bottom: 150px;
    background: linear-gradient(180deg, #fde1ff 0%, #0e8b3322 100%);
}
.offers_left {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}
.offers_left h1 {
    font-size: 50px;
    font-weight: 600;
    color: #171717;
}
.offers_left p {
    font-size: 24px;
    font-weight: 500;
    color: #626262;
    margin-top: 20px;
}
.offers_left button {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 30px;
    background-color: tomato;
    color: white;
    font-size: 24px;
    font-weight: 500;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.offers_left button:hover {
    background-color: rgb(252, 113, 89);
}
.offers_right img {
    height: 100%;
}