.newCollection     {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;

}
.newCollection_items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}