.header {
    background-color: #282c34;
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    margin-bottom: 50px;
}

.logo {
    font-size: 22px;
    font-weight: 600;
    margin-left: 10%;
}

.links {
    font: 18px;
    font-weight: 400;
    margin-right: 10%;
}
.links ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}
.links ul li{
    list-style: none;
}
.links ul li a {
    text-decoration: none;
    color: rgb(0, 191, 255);
}